/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[CallStartTime]
      ,[CallIsActive]
      ,[PhoneFrom]
      ,[PhoneTo]
      ,[TwilioPhoneNumber]
      ,[SystemStatus]
      ,[ConferenceSID]
      ,[PhoneCall1SID]
      ,[ConferenceName]
      ,[messageIntervalInSeconds]
      ,[hangupIntervalinSeconds]
  FROM [dbo].[TwilioConferenceCalls]

  delete [TwilioConferenceCalls]